body {
  overflow-x: hidden;
  background-color: red;
  cursor: default;
  user-select: none;
  background-color: rgba(255, 189, 244, 0.3);
}

.header-info{
	background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
}

.header-info img{
	width: 30px;
	height: 30px;
	margin-left: 20px;
	margin-top: 15px;
}

.header-info p{
	color: #fff;
	font-size: 16px;
	font-family: sans-serif;
	margin-top: 17px;
	margin-right: 50px;
	margin-left: 10px;
}

.header-info .sec-num{
	margin-left: -20px;
}

.header-info p a{
	text-decoration: none;
	color: #fff;
}

.navigation{
	background-color: #0099cc;
}

.navigation .logo{
  	width: 250px;
  	height: 75px;
  	margin-top: 20px;
  	margin-left: 30%;
}

.navigation .menu li{
	list-style: none;
	display: inline-block;
	font-size: 28px;
	padding: 30px;
}

.navigation .menu li a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.navigation .menu li a:hover{
	color: blue;
	transition: 0.5s;
	text-decoration: underline;
}

.navigation .menu li .active{
	color: blue;
	font-style: italic;
}

.navigation span{
	color: gray;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 28px;
	padding: 30px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown span a{
	color: white;
}

.dropdown span a:hover{
	color: blue;
	transition: 0.5s;
}	

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #0099cc;
	min-width: 250px;
	z-index: 1;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
	color: white;
	font-size: 24px;
}
			
.dropdown:hover .dropdown-content{
	display: block;
}
			
.dropdown:hover .dropdown-content a{
	display: block;
	text-decoration: none;
	padding: 10px;
}

.dropdown .dropdown-content a{
	text-align: left;
	color: white;
}		
.dropdown-content a:hover{
	transition: 0.3s;
	font-size: 23px;
	color: blue;
	font-weight: bold;
}

.hero {
  background-image: url('../img/hero1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1{
	font-size: 72px;
	color: #fff;
	text-align: center;
	margin-top: 275px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: monospace;
}

.hero img{
	width: 400px;
	height: 650px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.program-title-poc{
	margin-top: 40px;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
	color: blue;
}

.jobs{
	border: 3px dotted #0099cc;
	margin-top: 40px;
	transition: 0.5s;
	height: 400px;
	background-color: rgba(255, 189, 244, 0.3);
}

.jobs:hover{
	border: 3px dotted #0099cc;
	margin-top: 20px;
	transition: 0.5s;
	cursor: crosshair;
}

.container a{
	text-decoration: none;
	color: black;
}

.container a:hover{
	text-decoration: none;
	color: black;
}
.container .jobs img{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 100px;
}

.container .jobs h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.container .jobs p{
	text-align: justify;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	font-size: 18px;
}
			
.goal-section{
	background-image: url(../img/goal.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 100px;
}

.goal-section .goal-left h1{
	margin-top: 35px;
	text-align: center;
	margin-left: 75px;
	margin-right: 75px;
	color: white;
	font-size: 56px;
	border-bottom: 3px dashed white;
	padding-bottom: 15px;
}

.goal-section .goal-left p{
	margin-top: 20px;
	margin-left: 50px;
	text-align: justify;
	font-size: 20px;
}

.goal-atributtes{
	margin-left: 75px;
	color: white;
}

.goal-section .goal-left .goal-atributtes img{
	width: 30px;
	height: 30px;
	margin-left: 50px;
}

.goal-section .goal-left .goal-atributtes p{
	margin-left: 25px;
	font-size: 22px;
	margin-top: 0;
}

.goal-section .goal-left .goal-p{
	color: white;
	font-size: 22px;
}

.goal-section .col-sm-7 img{
	width: 50%;
	margin-left: 25%;
	cursor: crosshair;
}

/*.countdown{
	display: none;
}*/

.countdown #demo{
	padding: 15px;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 50px;
	border: 3px solid #0099cc;
	margin-top: 50px;
	margin-left: 630px;
	font-family: serif;
	color: #0099cc;
	font-weight: bold;
	min-width: 600px;
	text-align: center;
}

.countdown .signings-open{
	text-align: center;
	font-size: 56px;
	margin-top: 20px;
	font-family: cursive;
	color: #0099cc;
	margin-bottom: 75px;
}

.countdown .conference-date{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	font-family: sans-serif;
	color: #0099cc;
	font-size: 21px;
}

.footer{
	width: 100%;
	height: 150px;
	background-color: #bfbbae;
	border-top: 1px dashed black;
}

.footer .footer-name h3{
	text-align: center;
	margin-top: 30px;
	color: #0099cc;
	font-size: 35px;
	font-weight: bold;
}

.footer h3{
	text-align: center;
	margin-top: 60px;
	color: #0099cc;
	font-size: 35px;
	font-weight: bold;
}

.footer .work-hrs-h3{
	margin-top: 50px;
}

.footer .work-hrs{
	text-align: left;
	font-size: 22px;
}

.footer .footer-adress{
	margin-top: 15px;
	font-size: 21px;
	margin-left: 10px;
}

.footer .footer-num{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 21px;
}

.footer h5{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 65px;
	text-decoration: none;
}

.footer .creator-logo{
	width: 50px;
	height: 50px;
	margin-left: 40%;
	margin-top: 5%;
}

.footer .creator:hover{
	text-decoration: none;
}

.footer .col-sm-2 h5{
	margin-bottom: 0;
}

.footer .work-hrs p{
	margin-bottom: 0;
}

.footer .unvisibly{
	color: #bfbbae;
	margin: 0px;
	font-size: 10px;
}